<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="webAutoWithFramework"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="webAuto.EditPatientProfile"/>
        <listEntry value="webAuto.PriorityTimeAppointment"/>
        <listEntry value="webAuto.ViewReceipt"/>
        <listEntry value="webAuto.EndToEndWorkflow"/>
        <listEntry value="webAuto.CreateReceipt"/>
        <listEntry value="webAuto.FrequentPatient"/>
        <listEntry value="webAuto.ViewCertificateInDocuments"/>
        <listEntry value="webAuto.InvestigationReportUpload"/>
        <listEntry value="webAuto.PatientAppointmentPrescription"/>
        <listEntry value="webAuto.OPDEndToEndWorkFlow2"/>
        <listEntry value="webAuto.loopStucture"/>
        <listEntry value="webAuto.EndToEndTest"/>
        <listEntry value="webAuto.Prescription"/>
        <listEntry value="webAuto.BaseClass"/>
        <listEntry value="webAuto.prescriptionShort"/>
        <listEntry value="webAuto.IfPrescription"/>
        <listEntry value="webAuto.ImmunizationBasicRecord"/>
        <listEntry value="webAuto.AddNewPrescription"/>
        <listEntry value="webAuto.ApoointmentCall"/>
        <listEntry value="webAuto.AdultPatientCreation"/>
        <listEntry value="webAuto.PatientDate"/>
        <listEntry value="webAuto.CancelAppointment"/>
        <listEntry value="webAuto.FrequentAddPrescription"/>
        <listEntry value="webAuto.AppointmentCreation"/>
        <listEntry value="webAuto.LogIn"/>
        <listEntry value="webAuto.ViewCirtificate"/>
        <listEntry value="webAuto.CreateCirtificate"/>
        <listEntry value="webAuto.OpdEndToEndWorkFlow1"/>
        <listEntry value="webAuto.CreatePatient"/>
        <listEntry value="webAuto.CreateRequisitions"/>
        <listEntry value="webAuto.ViewInvestigationReportInAllDoc"/>
        <listEntry value="webAuto.ViewReceiptInDoc"/>
        <listEntry value="webAuto.CreateReferral"/>
        <listEntry value="webAuto.ADVEndToEndWorkflow"/>
        <listEntry value="webAuto.DeleteReceipt"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
